In [1]:
import pandas as pd
data = pd.read_csv("Bitcoin_data.csv")

In [2]:
data.shape
data.columns
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 459 entries, 0 to 458
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  459 non-null    int64
 1   open_time   459 non-null    int64
 2   open        459 non-null    float64
 3   high        459 non-null    float64
 4   low         459 non-null    float64
 5   close       459 non-null    float64
 6   volume      459 non-null    float64
 7   close_time  459 non-null    int64
dtypes: float64(5), int64(3)
memory usage: 28.8 KB

In [4]:
data = data.drop(data.columns[0],axis = 1)

,open_time,open,high,low,close,volume,close_time
0,1609459200000,28948.19,29668.86,28627.12,29337.16,210716.398,1609545599999
1,1609545600000,29337.15,33480.00,28958.24,32199.91,545541.080,1609631999999
2,1609632000000,32198.41,34832.25,32000.02,33054.53,487486.989,1609718399999
3,1609718400000,33053.93,33653.56,27800.00,32031.07,506128.023,1609804799999
4,1609804800000,32029.55,34500.00,29900.00,33999.52,433720.833,1609891199999
...,...,...,...,...,...,...,...
454,1648684800000,47053.10,47619.40,45185.00,45506.00,299837.610,1648771199999
455,1648771200000,45505.90,46700.00,44206.20,46266.20,360734.553,1648857599999
456,1648857600000,46266.20,47236.80,45600.00,45794.60,226413.357,1648943999999
457,1648944000000,45792.30,47448.00,45501.00,46392.40,212589.013,1649030399999
458,1649030400000,46392.30,46445.60,45735.00,45852.00,86228.734,1649116799999

In [5]:
import datetime
def convert_unix(timestamp):

    date = datetime.datetime.fromtimestamp(timestamp/1000).strftime("%Y-%m-%d")
    return date

In [8]:
data["open_date"] = data["open_time"].apply(convert_unix)
data["open_date"].head()

0    2020-12-31
1    2021-01-01
2    2021-01-02
3    2021-01-03
4    2021-01-04
Name: open_date, dtype: object